@inherits UmbracoViewPage<NuthinButNet.ViewModels.BlogLandingViewModel>

@foreach (var post in Model.BlogPosts)
{
    <div class="container">
    <div>
        <span>@(post.GetPropertyValue<DateTime>("date").ToString("MM-dd-yyyy"))</span>
        <h2><a href="@umbraco.library.NiceUrl(post.Id)">@(post.GetPropertyValue<string>("headline"))</a></h2>
        <p>@post.GetPropertyValue("teaserText")</p>
    </div>
    <hr />
    </div> <!-- container ends -->
}

<div class="pagination">
    <ul>
        @if (!string.IsNullOrEmpty(Model.PreviousButtonUrl))
        {
           <li class="previous"> <a href="@Model.PreviousButtonUrl">Prev</a></li>
        }
        @if (!string.IsNullOrEmpty(Model.NextButtonUrl))
        {
            <li class="next"><a href="@Model.NextButtonUrl">Next</a></li>
        }
    </ul>
</div> <!-- pagination ends-->

