@inherits UmbracoViewPage<NuthinButNet.ViewModels.BlogLandingViewModel

<div class="container">
    <div class="row">
        <div class="span9">
            @foreach (var post in Model.BlogPosts)
            {
                <section class="blog-box">
                    <div class="image">
                        <a href="blog-detail.html"><img src="/images/resource/blog-pic-1.jpg" alt="pic"></a>
                    </div>
                    <div class="blog-info clearfix">
                        <div class="blog-left">
                            <figure class="snap"><img src="/images/resource/thumbs/snap-6.jpg" alt="snap"></figure>
                            <a href="blog-detail.html">Dan Clark</a>
                            <p><span class="text-yallow">Ngo</span>, Annual Funding, People</p>
                        </div>
                        <div class="blog-details">
                            <span>@(post.GetPropertyValue<DateTime>("date").ToString("MM-dd-yyyy"))</span>
                            <h2><a href="@umbraco.library.NiceUrl(post.Id)">@(post.GetPropertyValue<string>("headline"))</a></h2>
                            <p>@post.GetPropertyValue("teaserText")</p>
                        </div>
                    </div>
                    <hr />
                </section>
            }
        </div>
    </div>
</div>


<section class="blog-box">
    <div class="image">
        <a href="blog-detail.html"><img src="images/resource/blog-pic-1.jpg" alt="pic"></a>
    </div>
    <div class="blog-info clearfix">
        <div class="blog-left">
            <figure class="snap"><img src="images/resource/thumbs/snap-6.jpg" alt="snap"></figure>
            <a href="blog-detail.html">Dan Clark</a>
            <p><span class="text-yallow">Ngo</span>, Annual Funding, People</p>
        </div><!-- blog-left ends -->
        <div class="blog-details">
            <h4><a href="blog-detail.html">Integer tempor etiam sagittis phasellus, adipiscing scelerisque</a></h4>
            <p class="date">Wednesday, 14 Nov 2012</p>
            <p>Aenean et adipiscing mi. Aenean at sapien metus, porta tempor velit. Fusce sagittis laoreet felis id cursus. Aliquam aliquet ante a ante sagittis viverra. Ut id odio quis purus lacinia varius vitae eu purus. Integer ac elit at nisi ultrices condimentum  Aliquam porta volutpat quam id vehicula...</p>
            <a href="blog-detail.html" class="readmore">Read More</a>
        </div><!-- details end -->
    </div><!-- blog-info ends -->
</section><!-- blog-box ends -->


<div class="pagination">
    <ul>
        @if (!string.IsNullOrEmpty(Model.PreviousButtonUrl))
        {
           <li class="previous"> <a href="@Model.PreviousButtonUrl">Prev</a></li>
        }
        @if (!string.IsNullOrEmpty(Model.NextButtonUrl))
        {
            <li class="next"><a href="@Model.NextButtonUrl">Next</a></li>
        }
    </ul>
</div> <!-- pagination ends-->

