@inherits UmbracoViewPage<NuthinButNet.ViewModels.BlogLandingViewModel>
<div class="container">
    @foreach (var post in Model.BlogPosts)
    {
        <div class="row">
            <div class="span9">
                <section class="blog-box">
                    <div class="blog-details">
          
                        <h4><a href="@umbraco.library.NiceUrl(post.Id)">@(post.GetPropertyValue<string>("headline"))</a></h4>
                        <p class="date">@(post.GetPropertyValue<DateTime>("date").ToString("MM-dd-yyyy"))</p>
                        <p>@post.GetPropertyValue("teaserText")</p>
                    </div>
                 </section>
            </div> <!-- span ends-->
                    <hr />
        </div> <!--row ends-->
    }
</div> <!-- container ends -->

<div class="pagination">
    <ul>
        @if (!string.IsNullOrEmpty(Model.PreviousButtonUrl))
        {
           <li class="previous"> <a href="@Model.PreviousButtonUrl">Prev</a></li>
        }
        @if (!string.IsNullOrEmpty(Model.NextButtonUrl))
        {
            <li class="next"><a href="@Model.NextButtonUrl">Next</a></li>
        }
    </ul>
</div> <!-- pagination ends-->

