@using NuthinButNet.Helpers

@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
}

<div class="banner" style="background: url(@Umbraco.Media(Umbraco.Field("headerImage").ToString()).Url) #E5E5E5 no-repeat center; background-size: cover;">
    <div class="container">
        <h1>Events</h1>
        <div class="bread-bar clearfix">
            <ul class="breadcrumb">
                <li><a href="">Home</a></li>
                <li><a href="@Model.Content.Url">Our Events</a></li>
            </ul>
        </div>
    </div>
</div><!-- banner ends -->

<div class="container">
    <div class="row">
        @*<div class="span2">
            <h2>Filters</h2>
            <div class="btn-group" data-toggle="buttons">
                @foreach (var subProgram in @Model.Content.GetAllSubPrograms())
                {
                    <label class="btn btn-primary">
                        <input type="checkbox" /> @subProgram.GetSubProgramName()
                    </label>
                }
            </div>
        </div>*@
        <div class="span11">
            <div class="events">
                <div class="events-area">
                    <h2><strong>Events</strong></h2>
                    
                    <ul class="events-list">
                        @{
                            var featuredEvent = Model.Content.GetFeaturedEvents(1).FirstOrDefault();
                        }

                        @if (null != featuredEvent)
                        {
                            <li>
                                <div class="event-box event-box-featured">
                                    <figure class="image">
                                        <a href="@featuredEvent.Url"><img src="@UmbracoContext.GetEventFullSizeImageUrl(featuredEvent)" alt="@featuredEvent.GetPropertyValue("summary")"></a>
                                    </figure>
                                    <div class="detail">
                                        <h5><a href="@featuredEvent.Url">@featuredEvent.GetPropertyValue("summary")</a></h5>
                                        <ul>
                                            <li><span><i class="icon-date"></i>@featuredEvent.GetFormattedEventDate()</span><span>@featuredEvent.GetFormattedEventTime()</span></li>
                                            @{
                                                var location = @UmbracoContext.GetAddressFromEvent(featuredEvent);
                                            }
                                            @if (!string.IsNullOrWhiteSpace(location.ToString()))
                                            {
                                                <li><span><i class="icon-location"></i>@location</span></li>
                                            }
                                            else
                                            {
                                                <li><span>&nbsp;</span></li>
                                            }
                                        </ul>
                                    </div>
                                </div><!-- event-box ends -->
                            </li>
                        }

                        @Umbraco.RenderMacro("Events")
                        
                    </ul><!-- events-list ends -->
                    
                    @*<div class="pagination">
                        <ul>
                            <li class="previous"><a href="#">Prev</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li class="active"><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">...</a></li>
                            <li><a href="#">22</a></li>
                            <li class="next"><a href="#">Next</a></li>
                        </ul>
                    </div><!-- pagination ends -->*@
                </div><!-- events-area ends -->
            </div><!-- events end -->
        </div>
    </div>
</div><!-- /container -->

<!-- /Main -->