@using NuthinButNet.Helpers

@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
}
<!-- Main -->

<div class="banner" style="background:url(images/resource/banner-1.jpg);">
    <div class="container">
        <h1>@Model.Content.GetPropertyValue("eventTitle")</h1>
        <div class="bread-bar clearfix">
            <ul class="breadcrumb">
                <li><a href="">Home</a></li>
                <li><a href="@Model.Content.Parent.Url">Our Events</a></li>
                <li><a href="@Model.Content.Url">@Model.Content.GetPropertyValue("eventTitle")</a></li>
            </ul>
        </div>
    </div>
</div><!-- banner ends -->

<div class="container">
    <div class="row">
        <div class="span9">
            <section class="blog-box">
                <div class="details">
                    <div class="location-map">
                        <iframe src="http://maps.google.com/?ie=UTF8&amp;ll=32.7688,-74.355469&amp;spn=41.328535,86.572266&amp;t=m&amp;z=4&amp;output=embed"></iframe>
                    </div><!-- location-map ends -->
                    <h4>@Model.Content.GetPropertyValue("summary")</h4>
                    <ul class="list">
                        <li><span><i class="icon-date"></i>@Model.Content.GetFormattedEventDate()</span><span>@Model.Content.GetFormattedEventTime()</span></li>
                        <li><span><i class="icon-location"></i>@UmbracoContext.GetFormattedAddress(Model.Content)</span></li>
                    </ul>
                    @*<h6>
                        <a href="blog-detail.html">Aenean et adipiscing mi. Aenean at sapien metus, porta tempor velit. Fusce sagittis laoreet felis id cursus. Aliquam aliquet ante a ante sagittis viverra. Ut id odio quis purus lacinia varius vitae eu purus. Integer ac elit at nisi ultrices condimentum.</a>
                    </h6>
                    <p>Aenean et adipiscing mi. Aenean at sapien metus, porta tempor velit. Fusce sagittis laoreet felis id cursus. Aliquam aliquet ante a ante sagittis viverra. Ut id odio quis purus lacinia varius vitae eu purus. Integer ac elit at nisi ultrices condimentum. Integer malesuada leo eu mi cursus vel sagittis tellus tincidunt. Quisque cursus arta tempor velit.</p>
                    <p>Aenean et adipiscing mi. Aenean at sapien metus, porta tempor velit. Fusce sagittis laoreet felis id cursus. Aliquam aliquet ante a ante sagittis viverra. Ut id odio quis purus lacinia varius vitae eu purus. Integer ac elit at nisi ultrices conteger ac elit at nisi ultrices condimentum. Integer malesuada leo eu mi cursus vel sagittis tellus tincidunt. Quisque cursus accumsan arcu nec convallis. ndimentum. Integer malesuada leo eu mi cursus vel sagittis tellus tincidunt. Quisque cursus accumsan arcu nec convallis. Aliquam porta volutpat quam id vehicAenean et adipiscing mi. tellus tincidunAenean et adipiscing mi. Aenean at sapien metus, porta tempor velit. Fusce sagnteger ac elit at nisi ultrices condimentum. Integer malesuada leo eu mi cursus vel sagittis tellus tincidunt. Quisque cursus accumsan arcu nec convallis. ittis laoreet felis id cursus.</p>
                    <blockquote>
                        <h3>Blockquote</h3>
                        <p>Aenean et adipiscing mi Aenean at sapien metus porta tempor velit. Fusce sagittis laoreet felis id cursus Aliquam aliquet ante a ante sagittis viverra. Ut id odio quis purus lacinia varius vitae eu purus.</p>
                    </blockquote>
                    <p>Aenean et adipiscing mi. Aenean at sapien metus, porta tempor velit. Fusce sagittis laoreet felis id cursus. Aliquam aliquet ante a ante sagittis viverra. Ut id odio quis purus lacinia varius vitae eu purus. Integer ac elit at nisi ultrices condimentum. Integer malesuada leo eu mi cursus vel sagittis tellus tincidunt. Quisque cursus accumsan arcu nec convallis. Aliquam porta volutpat quam id vehicAenean et adipiscing mi. tellus tincidunAenean et adipiscing mi. Aenean at sapien metus, porta tempor velit. Fusce sagittis laoreet felis id cursus.</p>
                    <div class="author-box">
                        <figure class="snap"><img src="images/resource/thumbs/snap-3.jpg" alt="author"></figure>
                        <div class="auth-details">
                            <h4>Author - Craig Bryant</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget neque non dolor semper egestas. Fusce ullamcorper, dolor eleifend egestas luctus, velit ligula ultricies risus, vitae adipiscing magna neque vitae risus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                        </div>
                    </div><!-- author-box ends -->*@
                    @Model.Content.GetPropertyValue("description")
                </div><!-- details end -->
            </section><!-- blog-box ends -->
        </div>
        <div class="span3">
            @*
            <div class="events">
                <h2>Events</h2>
                <div class="event-countdown">
                    <h3>Raesent et neque at leo rutrum fermentum</h3>
                    <div class="counter">
                        <div class="count-down"></div>
                    </div>
                    <p>Integer at lacus sed sem placerat ullamcorper. Ut posuere, orci a viverra pellentesque, enim nisi tempus</p>
                    <ul class="list">
                        <li><span><i class="icon-date"></i>25 - 02 - 2013</span><span>08:00am - 12:00pm</span></li>
                        <li><span><i class="icon-location"></i>Washington, United States</span></li>
                    </ul>

                </div><!-- event-countdown ends -->
            </div><!-- events (countdonw ends -->
            <div class="widget-facebook">
                <h2>Facebook</h2>
                <div class="fb-like-box" data-href="https://www.facebook.com/themebazaar" data-width="270" data-show-faces="true" data-stream="false" data-show-border="true" data-header="true"></div>
            </div><!-- widget-facebook ends -->
            *@
        </div>
    </div>
</div><!-- /container -->

<!-- /Main -->