@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
}

<!-- Main -->
<div class="banner" style="background: url(@Umbraco.TypedMedia(Model.Content.GetPropertyValue("image")).Url) #E5E5E5 no-repeat center; background-size: cover;">
    <div class="container">
        <h1>@Umbraco.Field("title2")</h1>
        <div class="bread-bar clearfix">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="/programs">Programs</a></li>
                <li><a href="#">@Umbraco.Field("title2")</a></li>
            </ul>
        </div>
    </div>
</div><!-- banner ends -->

<div class="container">
        @{
            var i = 0;
            var newRow = false;
        }
        @foreach (var subProgram in Model.Content.Children().Where(x => x.DocumentTypeAlias == "SubProgram"))
        {
            var imgProperty = subProgram.GetProperty("thumbnailImage");
            newRow = i % 2 == 0;
            if (newRow)
            {
                @:<div class="row">
            }
            <div class="span6 sub-program-grid">
                <div class="sub-program-grid-item">
                    <a href="@subProgram.Url">
                        <img src="@(imgProperty.HasValue ? Umbraco.TypedMedia(imgProperty.Value).Url : "")" />
                    </a>
                    <div class="sub-program-grid-title"><h3><a href="@subProgram.Url">@subProgram.GetPropertyValue("name")</a></h3></div>
                </div>
            </div>
            if (!newRow)
            {
                @:</div>
            }
            i++;
        }
        @if (newRow)
        {
            @:</div>
        }
    </div>
</div>