@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
    var isFirst = true;
}
<!-- Main -->
<div class="banner" style="background: url(@Umbraco.Media(Umbraco.Field("headerImage").ToString()).Url) #E5E5E5 no-repeat center; background-size: cover;">
    <div class="container">
        <h1>Programs</h1>
        <div class="bread-bar clearfix">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="/programs">Programs</a></li>
            </ul>
        </div>
    </div>
</div><!-- banner ends -->

<div class="container">
    <div id="programs-landing" class="row">
        <ul class="nav program-tabs nav-tabs">
            @foreach (var program in Model.Content.Children())
            {
                <li>
                    <a style="background: url('@Umbraco.TypedMedia(program.GetPropertyValue("thumbnailImage")).Url') 0 0 no-repeat; background-size: 100%;" href="#@program.Id" data-toggle="tab">
                        <span>@program.GetProperty("title2").Value</span>
                    </a>
                </li>
            }
        </ul>
        <!-- Tab panes -->
        <div class="program-content tab-content">
            @foreach (var program in Model.Content.Children())
            {
                <div class="tab-pane @(isFirst ? "active" : "")" id="@program.Id">
                    <header>
                        <img src="@Umbraco.TypedMedia(program.GetPropertyValue("image")).Url" />
                        <h2 class="program-title">@program.GetPropertyValue("title2")</h2>
                    </header>
                    <div class="wysiwyg-content">
                        @program.GetProperty("description").Value
                    </div>
                    <a href="@program.Url">Read More</a>
                </div>
                isFirst = false;
            }
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- /Main -->