@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
}

<div>
    <img src="@Umbraco.TypedMedia(Model.Content.GetPropertyValue("image")).Url" />
    <div>@Model.Content.GetPropertyValue("title2")</div>
</div>
@foreach (var subProgram in Model.Content.Children())
{
    var imgProperty = subProgram.GetProperty("thumbnailImage");
    <div>
        <a href="@subProgram.Url">
            <img src="@(imgProperty.HasValue ? Umbraco.TypedMedia(imgProperty.Value).Url : "")" />
        </a>
        <div>@subProgram.GetPropertyValue("name")</div>
    </div>
}