@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
    int index = 0;
}

<div class="container">
    <div class="row">
    @foreach (var child in Model.Content.Children)
    {
        <div class="span3 @(index % 3 == 0 ? "row" : string.Empty)">
            <h2>@(child.GetPropertyValue<string>("name"))</h2>
            <h3><strong>@(child.GetPropertyValue<string>("jobTitle"))</strong></h3>
            <img src="@Umbraco.TypedMedia(int.Parse(child.GetPropertyValue<string>("image"))).Url" />
            <p>@(child.GetPropertyValue<string>("description"))</p>
        </div>
        index++;
    }
    </div>
    <div class="clearfix"></div>
</div>