@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Archetype.Umbraco.PropertyConverters;
@using Archetype.Umbraco.Models;
@using Archetype.Umbraco.Extensions;
@{
    Layout = "umbLayout.cshtml";
}

<div class="banner" style="background: url(@Umbraco.TypedMedia(Model.Content.GetPropertyValue<int>("bannerImage")).Url) #E5E5E5 no-repeat center; background-size: cover;">
    <div class="container">
        <h1>@Model.Content.GetPropertyValue("name")</h1>
        <div class="bread-bar clearfix">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="@Model.Content.Parent.Url">@Model.Content.Parent.GetPropertyValue("title2")</a></li>
                <li><a href="#">@Model.Content.GetPropertyValue("name")</a></li>
            </ul>
        </div>
    </div>
</div>

@*<div>
        @if (@Model.Content.GetProperty("owner") != null)
        {
            var owner = Umbraco.TypedContent(Model.Content.GetPropertyValue<int>("owner"));
            <h2>@owner.Name</h2>
            <p>@Model.Content.GetPropertyValue("ownerDescription")</p>
        }
    </div>*@
<div class="container">
    <h3 style="padding-top: 50px;">Blog Articles</h3>
    @Umbraco.RenderMacro("BlogRoll")

    @if (Model.Content.GetProperty("mediaReel") != null)
    {
        <h3 style="padding-top: 50px;">Media</h3>
        <div>
            @if (!string.IsNullOrEmpty(Model.Content.GetPropertyValue<string>("mediaReel")))
            {
                foreach (var imageId in Model.Content.GetPropertyValue<string>("mediaReel").Split(','))
                {
                    <img src="@Umbraco.TypedMedia(int.Parse(imageId)).Url" />
                }
            }
        </div>
    }

    @if (!string.IsNullOrEmpty(Model.Content.GetPropertyValue<Archetype>("resources").Fieldsets.FirstOrDefault().GetValue("link")))
    {
        <h3 style="padding-top: 50px;">Resources</h3>
        <ul>
            @foreach (var resource in Model.Content.GetPropertyValue<Archetype>("resources").Fieldsets)
            {
                <li>
                    <a href="@resource.GetValue("link")" target="_blank">@resource.GetValue("title")</a>
                </li>
            }

        </ul>
    }
</div>
