@inherits UmbracoTemplatePage
@{
    Layout = null;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@Umbraco.Field("title", altFieldAlias: "pageName") | @Umbraco.GetDictionaryValue("Site Name")</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="/css/normalize.css" rel="stylesheet" type="text/css" />
    <link href="/css/common.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/color.css" rel="stylesheet" />
    <link href="/css/slider.css" rel="stylesheet" />
    <link href="/css/responsive.css" rel="stylesheet" />
    <link href="/css/get-involved.css" rel="stylesheet"/>
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>
    <div class="wrap">
        <div class="cta-bar">
            <a href="/get-involved?gift=1" class="btn"><span class="coverglyph coverglyph-small coverglyph-money"</span> <span style="font-family: 'Droid Sans', sans-serif;">Support Your Friends Today</span> <span class="coverglyph coverglyph-small coverglyph-money"</span></span></a>
        </div>
        <div class="tp-bar">
            <div class="container">
                <div class="logo" style="width: 100%">
                    <h1>
                        <a href="/" style="width: 100%;">
                            <?xml version="1.0" encoding="utf-8" ?>
                            <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                            <svg style="margin-right: 5px;" "version="1.1"
                                 xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                 width="98px" height="98px"
                                 viewBox="0 0 98 98" preserveAspectRatio="none">
                                <g>
                                    <image width="98" height="98" xlink:href="data:image/png;base64,
iVBORw0KGgoAAAANSUhEUgAAAGIAAABiCAYAAACrpQYOAAAAAXNSR0IArs4c6QAAAARnQU1BAACx
jwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAA2FSURBVHhe7VwJdJTVFf6STPaV7AsEshC2EHYQ
ggIKHlzqCq7dOGqroLZa7an2WI+ttVattKhtLXpOaSsoKlqXKshqWJWdEEgI2fdM9m2SzEx67/3z
B8QkArK8jO+bk8zM/7/ln/u9e+97/73/c+syADc3N2hceHR1OUn27nDv/q5xkaGJUASaCEWgiVAE
mghFoIlQBJoIRXDOiOC1CKOlvQ5tHQ093833cwGeczOKrPtxtHQz7I4O+X4u+7hY6HVBZy4ytmev
QIe9Be702TweFTIKKTGXwd3dQwTA9fidUd9Shg93PwlbZzN+NPt1eHv695Q5F3A47fBwt2BVxv2o
bszD3XNXws875Jz2caHR74Kui16MY2WfI4dGXg6/l2Ugm97L6w7TWWNkngpvzwAE+UUjJmQkkefR
fVTjdNCrRji7HCLIf2/+CRrbKnHP3FXw8vTrGflclkd9F5Xz9QpGdcNx+HoHI8AnXEyTxd0TXhZ/
Kcd1HM5O1DQXosvpRFjgUHhafHpGcVNbNXw8A2Hx8Ia1qYDKdCI8KKlH40zUNheh096K6EGjsGrr
A9KnqRGMxtYqNNuq6Xsogv2iZJSd+rtUhKkRZ0wEawOfe2/X42gloceQqcqv+gJDIsYhfcRdWLPr
MSrnwK3pfxHTVFi9F1uPvEZla6VDi4cv5qQuwZDw8bDbbViZsRhxYWnkV+rF3DidDiJrGK6e9LgQ
ZHd2YN3+51FWe1hMU+yg0URqkQh90ZwV8PcJxebMvyK3YhtdeZf4jUtG/ABp8dcQmRblyejXNJlg
sXOhivqj8sdmiR2xeba1vR55lTsxLGoKIoNSpKzUosYZ7Z0tyMh6lYjtxLWTn8QNU5+Gp4cX1h9Y
CltHo3EBpD15lTvQbm/D+GE3kFaForI+G4VVe6SNA/kfUL9HRNtmjrxLiGENo25Ea6oaclFAAyEq
OAULpr+AqyY+hmDfaLn2gYT+iSCBsplZd+AFfLT7d+SInxLBM9xIK1ggPPrmpN6PccOuI03hEegU
IfBoZAHZOpuQHD1TTJi/dxiZnQSZANS3lHSPBjf4eAVh/vhfYlLSAoweMl9Ml7UpX/ph8tvJDKaP
XETn5uH6KU/BlzTF2WWX8yxuJrSlo1bMXHz4RCRETZNrYahumkz0SwT/QDYHLITZqffR3xIMDh3X
fdYwYdFkmgzHfPIIJE2iV0NrubxnFn2Cd3Y8gjcy7kOJ9SA1DHSSCZEaZDr8ya57Wfykpif5Ci7g
pH4ZTTarmJvwoES5HtYgQ/O4jIM0IZmEPwHNbVZ8uu9ZrN7+c9KonB4C2DQNBPRPBP9YEnZSVLqM
6pSYWQj2j+4++80/0NPiS/WdSBt6LRbOeJH8xjLckr4Ud176Nwwhv8D4JhPi6e4jRLMPOVWoBiHA
nLEP4Pqpv8XwmJnkO2rwOZlD1qKBhH6JOHvwbMmBiKBkcs5eKKnNlJEe6Bsus5ymtiohqF+j0T2i
2XEzoZlFa2lGVos9x98W38NrGyaC26prLkVoQDxmpS4mBx+E5vYaMXsDCeeFCFOTBoeNRVxoKgmq
UKacb237Gf61+R5szHyJnG47CbLvtQa3wT4obdi18PMKwdGSDXiT2jhY8BEGBcSJiWKz1khEvP/F
r6XtN7bcRxphxai4uTI7G0jod2V9hH683WEjJ3klrWg9e0wDl+WZTn1LBUYNvoIccZCcY+FnFX9G
QvBESuwsow69jlfsQBXNhHjGE+QbRQSlIZRGOhumrOJ1NDUOIPN3iZSvbymntrfTNDUVkSHDZeRb
GwuQW7mVrqUTo+PmocPRgvLaLIyJn0++xRfH6Voq67Kpf57ejsGwyCkyWTj1d6kIU9a9EqFx4WAS
cZ58hMaZQhOhCDQRikAToQg0EYpAE6EINBGKQBOhCDQRiuCsV9Zch+FwduB4xXaJBQwJn4DI4GRp
q7c2zWMcUMot34awoGGIGcS30QdGWPN84FuvrDlkyoJbf3ApMo4sx978d3Go6EMjetYnDPKsjcex
O+8tZBZ9DGe/5b87OCsiDG1wkxuCHKq0uHvj5mnPYfqIRZLuYsAQ+rGyrXh9/fdxpGQ9HTGOaXwd
fRLBwuY/jhvUNBWgrDYTLTa+z28Ik1WqoZXjCg4J4Lu5u8tdWFazE0S1o8lmlOG6ja2VUpcKmTzJ
OU4a4D74M8Psm9HQUiaJA3xXlvtkmOdcCX3cBje+l9dlYcvhVyX4wt9ZEAlRUzFrzGIJ8H924EV0
klZ4uFnkFvdlo3+KkXGXUwtuUj4jazmyyzZTPc4KsaDD3ipJBF1ddmw4tExyoDrtNiGJTVpyTDou
pTY4iNTpaMPGg8tQXHNArolJSoichtmpi+n8iXScgY4+fQT/QPpPAmrDpkOv0Cgux+SkWzE37SFE
BCeRY96JfXlrEOATgbSh3yNT5CXB/wkJN5KjTqG6J4STHD1D0mb4WGxoKiYlLURoYLwoA3de3ZCH
IN8IjB16tSQXHC3ZiNqmIqm7K2clCqr3SLu3zFiKkbGXS+ICJ7wxKcbAcB3N6MU08Uhzl2AOp84k
kjBZUBxsmZp8pwT5OY/Jz3sQxsZfI1keBhE3IYyEzDC1JyZ0jASBGIPDUonQhfCnegwWYnRICq4g
gqcOvwNDIiZIekwzmTJGYfVuIXloxGTjPXKyBIHKSEs5ocHV0KePaLRVysjjFBgmhhEaMEQC+Zwi
A7bXZ2kZuBrPujg70GzbjzTC+OwmMWnum6fGHAZdtXVJjxk04Ho+ok8ivDz8ZGSzMMwfLlne9PLm
1Be2z+dRHhyz5kzBG6f+AbfPfBm3pv8Zt6W/hMvG3CuzNFdDL0QYw5wXZmwS8qt2StolI6t4rfiO
2NA0cb6nNR0Vp+oOa1MhaptLeswKC7o3sEljAtj0tdrq0NBWLp8DyZfwLIzzX10RvWoECyOW7Dvn
HrGZeGf7o3ht/R04UrqBBBKJiYk3SZoMlzOJ+zqM4+Hk4LlsbvlWvL3jYRRb98nxvmCaqolJCyTN
kk3Sqowl+M+We7F6+0MoqTlEZ13PNPU5fTVRaN0tGRM8vQwNHIrh0TMlz4jLsB3nrA0fr0DJwjg1
c8L8zMJjAjzJpI2Nv0oy9I6WbZDM8MGsXVSvqj5H8p+SY2Yg0Iezud3keQtO22xsrZBMj6jg4TIL
48xx5oI18uTrHogwp686i+MiwySiT2etcWGhiVAEmghFoIlQBJoIRaCJUASaCEWgiVAEmghFcMGI
4NW7+ccPwOSUbZbbJua57zr6uNdkLLt3HXsDto4G+czwsgRI1C0sMEHKn1qvP3BZ+o8OextWb3sI
jq5Oub19rvfrGGjo9xaHeXs7u3QjjpZuQlltFgqq9uBw0adYs/Mx5Fft6hGeIWCNb4t+TZMbPMDP
ON847Rn8cPZyeeCc02X2570nsQEG34E1sjwOo6Gl4ivE8OjnrR8Y1sZ8NLTy+a9H9trtLfJYLmeM
MPjuLJfnAXDyY7quTHqvpomFyyFRcy8O3nyETUh1Qy4+3vuMlL3j0ldQWnNI9tngyB0/Icr1kqKm
SzYH7x7AsYTqxlxJHMir2IlB/rGYN+4RvP/lE0RkG5mmVySD4397fy/Zf7fNXCbauHbf80RaqVwD
f18w/XmE+MfJtZ16rQMdZ3j31RiJxSR4Dp3yk6EcvePkMg7qXzn+Ucyf8CsE+0WLE65uPC7lOQrH
Aj5WloH48PGy+Yk80kuds0D5Ed8th/8uz0/PG/8LBPlF4WDBB6htLpTdDhbO+BMmJ90i6TOujn6J
4AA/m6Id2f/EJ3ufxf78NXCQqZqQcIMIeerw2zFz5N2S88rPVMdHTJTnn22djVKfmebQ6ITEmzFn
7IOSrcHROtYcfpQ3I+sfInTWIN5Dg+Egs8TZHNVNhVJ/PPXl7xPWY5Zc1al/g0awGeDdaXLQ0FYm
+3BcPekJSXFhgdQ1l5AZ+SNWbFqE5Z/djqyidYaq0cuAkVYT1p39wcI0JwI8deU9MzgxLcQvVghn
jEu4DsG+McihicLqbQ9jU+bLkpjG/Un9bkJcDaflrG+a9ixuS18m5oNHvinMDQeXodC6RzTjuilP
ya4wIrDu873BJIk1YmLiAtmygZOYJUWHwKTcPOM5XE4axPHxbJq1HSVS2IG7qjYwTtNHnIAxIo3t
GVo76sjU+CKRHHRUSIrswSSzom5h9wU36pbrjxx8BaIHjSDNKpatHbht3heKzV8SrVd46yEL+YdW
Wz1Ra8yoXBVnTIQxKrtkREcGJ9FI7cB/v/yNZFkYeyz1lSjzVXA7vBXQ9JQfkw8Ix968d2mmVI79
Be9jZcYSvLn1QfJNK4TYRNI07s+V0e/Kure9OMT0dNtpnkHxxos8ReWMjKHhU5BbkSGjmROMi637
Ze+9lLhZkhpj1jtcvFbaGRE7R5x3aU0myuuzkBB5Cbwt/rJgrGspgp9XKLWVTlPX2J5+T75OV4Ap
a53FcZFhEnHGpknj/EAToQg0EYpAE6EINBGKQBOhCDQRikAToQg0EYpAE6EINBGKQBOhCDQRikAT
oQg0EYpAE6EINBGKQBOhCDQRikAToQg0EYpAE6EINBGKQBOhCDQRikAToQg0EYpAE6EINBGKQBOh
CDQRikAToQg0EUoA+D/7h9MCSWWQnwAAAABJRU5ErkJggg==
" />
                                </g>
                            </svg>
                            <span class="logo-text">&nbsp;</span>
                            <span class="logo-text">&nbsp;</span>
                            <span class="tag-line" style="margin-top: -5px;">Improving Parks Since 1975 &mdash; Now celebrating our 40<sup>th</sup> Year!</div>
                        </a>
                    </h1>
                <span class="slogan"> </span> </div>
                <!-- logo ends -->
                <div class="tp-right">
                   
                    <div class="tweets" style="display:none;">
                        <ul id="tweet">
                            <li>Here are 10 quality, affordable Zen Cart Templates, perfect for a wide variety of eCommerce needs. <a href="#">http://enva.to/XiCf5F</a></li>
                            <li>perfect for a wide variety of eCommerce needs. <a href="#">http://enva.to/XiCf5F</a></li>
                            <li>affordable Zen Cart Templates, perfect for a wide variety of eCommerce needs</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- tp-bar ends -->
        <nav class="menu-bar">
            <div class="container">
                <a href="#" class="tablet-menu"></a>
					@Umbraco.RenderMacro("MainNavigation")
					
            </div>
        </nav><!-- menu-bar ends -->

        @RenderBody()


        <div class="bottom">
            <div class="container">
                <div class="bottom-left">
                    <p>&copy;@DateTime.Now.Year All rights reserved.</p>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/About">About</a></li>
                        <li><a href="/Get-Involved">Get Involved</a></li>
                        <li><a href="/Programs">Programs</a></li>
                        <li><a href="/Blog">Blog</a></li>
                        <li><a href="/Events">Events</a></li>
                        <li><a href="/Venues">Venues</a></li>
                    </ul>
                </div>
                <div class="social-links">
                    <ul>
                        <li><a href="https://www.facebook.com/friendsoftheparks" target="_blank">Facebook</a></li>
                        <li><a href="https://twitter.com/FOTPChicago" target="_blank">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- bottom ends -->
    </div><!-- wrap ends -->


    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
    <script src="/js/jquery.countdown.js"></script>
    <script src="/js/jquery.bxslider.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/get-involved.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
 
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts")
    }

</body>
</html>