@using NuthinButNet.Helpers

@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
}
<!-- Main -->

<div class="banner" style="background: url(@Umbraco.Media(Umbraco.Field("headerImage").ToString()).Url) #E5E5E5 no-repeat center; background-size: cover;">
    <div class="container">
        <h1>@Model.Content.GetPropertyValue("eventTitle")</h1>
        <div class="bread-bar clearfix">
            <ul class="breadcrumb">
                <li><a href="">Home</a></li>
                <li><a href="@Model.Content.Parent.Url">Our Parks</a></li>
                <li><a href="@Model.Content.Url">@Model.Content.GetPropertyValue("name")</a></li>
            </ul>
        </div>
    </div>
</div><!-- banner ends -->

<div class="container">
    <div class="row">
        <div class="span9">
            <section class="blog-box">
                <div class="details">
                    <div class="location-map">
                        <iframe src="@Model.Content.GetVenueMapUrl()"></iframe>
                    </div><!-- location-map ends -->
                    <h4>@Model.Content.GetPropertyValue("name")</h4>
                    <ul class="list">
                        @{
                            var location = @Model.Content.GetAddressFromVenue();
                            if (location != null && !string.IsNullOrWhiteSpace(location.ToString()))
                                <li><span><i class="icon-location"></i>@location</span></li>
                        }
                    </ul>
                </div><!-- details end -->
            </section><!-- blog-box ends -->
        </div>
        <div class="span3">
        </div>
    </div>
</div><!-- /container -->

<!-- /Main -->