@using NuthinButNet.Helpers;

@inherits Umbraco.Web.Macros.PartialViewMacroPage

<ul class="events-list">
    @foreach (var childPage in Model.Content.Children.Where(x => x.IsVisible()))
    {
        <li>
            <div class="event-box">
                <figure class="image">
                    <a href="@childPage.Url"><img src="@UmbracoContext.GetEventThumbnailUrl(childPage)" alt="@childPage.GetPropertyValue("summary")"></a>
                </figure>
                <div class="detail">
                    <h5><a href="@childPage.Url">@childPage.GetPropertyValue("summary")</a></h5>
                    <ul>
                        <li><span><i class="icon-date"></i>@childPage.GetFormattedEventDate()</span><span>@childPage.GetFormattedEventTime()</span></li>
                        @{
                            var location = @UmbracoContext.GetAddressFromEvent(childPage);
                        }
                        @if (!string.IsNullOrWhiteSpace(location.ToString()))
                        {
                            <li><span><i class="icon-location"></i>@location</span></li>
                        }
                        else
                        {
                            <li><span>&nbsp;</span></li>
                        }
                    </ul>
                </div>
            
            </div><!-- event-box ends -->
        </li>
    }
</ul>
