@using NuthinButNet.Helpers;

@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var parksOnly = Model.MacroParameters.ContainsKey("parkOnly")
        ? Model.MacroParameters["parkOnly"] == true.ToString()
        : false;
    IEnumerable<IPublishedContent> venues = parksOnly
        ? Model.Content.Children.Where(x => x.IsVisible() && x.GetPropertyValue<bool>("isPark"))
        : Model.Content.Children.Where(x => x.IsVisible());
    
}

<ul class="venues-list">
    @foreach (var childPage in venues)
    {
        <li>
            <div class="venue-box">
                <figure class="image">
                    <a href="@childPage.Url"><img src="@UmbracoContext.GetVenueThumbnailImageUrl(childPage)" alt="@childPage.GetPropertyValue("name")" /></a>
                </figure>
                <div class="detail">
                    <h5><a href="@childPage.Url">@childPage.GetPropertyValue("name")</a></h5>
                    <ul>
                        @{
                            var location = childPage.GetAddressFromVenue();
                            if (!string.IsNullOrWhiteSpace(location.ToString()))
                            {
                                <li><span><i class="icon-location"></i>@location</span></li>
                            }
                        }
                    </ul>
                </div>
            </div><!-- venue-box ends -->
        </li>
    }
</ul>