@using NuthinButNet.Helpers;

@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    int page;
    if (!int.TryParse(Request.QueryString["page"], out page))
    {
        page = 0;
    }

    int pageSize;
    if (!int.TryParse(Request.QueryString["pageSize"], out pageSize))
    {
        pageSize = 20;
    }
    
    var parksOnly = Model.MacroParameters.ContainsKey("parkOnly")
        ? Model.MacroParameters["parkOnly"] == true.ToString()
        : false;
    IEnumerable<IPublishedContent> venues = Model.Content.GetVenues(page, pageSize, parksOnly);
    
}

<ul class="venues-list">
    @foreach (var childPage in venues)
    {
        <li>
            <div class="venue-box">
                <figure class="image">
                    <a href="@childPage.Url"><img src="@UmbracoContext.GetVenueThumbnailImageUrl(childPage)" alt="@childPage.GetPropertyValue("name")" /></a>
                </figure>
                <div class="detail">
                    <h5><a href="@childPage.Url">@childPage.GetPropertyValue("name")</a></h5>
                    <ul>
                        @{
                            var location = childPage.GetAddressFromVenue();
                            if (!string.IsNullOrWhiteSpace(location.ToString()))
                            {
                                <li><span><i class="icon-location"></i>@location</span></li>
                            }
                        }
                    </ul>
                </div>
            </div><!-- venue-box ends -->
        </li>
    }
</ul>